.portfolio-page {
  padding-left: 100px;
  padding-right: 50px;
  width: calc(100% - 150px);
  position: initial;
  height: 100%;
  overflow: auto;

  h1.page-title {
    margin-left: 100px;
    margin-top: 100px;
  }
}

.portfolio-video {
  display: flex;
  width: 60%;
  border-radius: 15px;
  max-height: 592.31px;
}

.project-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 275px;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
}

.project-1 {
  margin-top: 75px;
}

.portfolio-info {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #ffe880;
  border-radius: 15px;
  margin-left: 25px;
}

@media screen and (max-width: 1200px) {
  .container.portfolio-page {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;

    h1.page-title {
      margin-left: 20px;
      margin-top: 20px;
    }

    .project-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
    }

    .portfolio-video,
    .portfolio-info {
      width: calc(100% - 85px);
    }

    .portfolio-info {
      margin-top: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 390px) {
  .container.portfolio-page {
    .portfolio-video,
    .portfolio-info {
      width: calc(100% - 10px);
    }
  }
}
