.info-box {
  color: #ebe8e2;
  padding: 25px;
}

.project-title {
  padding-bottom: 10px;
  color: #ffe77a;
}

.project-description {
  font-size: 20px;
  padding: 5px 0;
}

.project-stack {
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 15px;
}

.project-link {
  opacity: 0.9;
}

@media screen and (max-width: 390px) {
  h2 {
    font-size: 30px !important;

    &::before {
      font-size: 12.87px !important;
    }
    &::after {
      font-size: 12.87px !important;
    }
  }

  .project-description,
  .project-stack {
    font-size: 15px;
  }

  .project-title {
    padding-bottom: 0;
  }
  .project-description {
    padding-top: 0;
  }
}
